*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    overflow-x: hidden;
}

#welcome-sec{
    background-image: url(/images/main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 70px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav{
    display: flex;
    gap: 40px;
}

header nav a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: color .3s;
}

header nav a:hover{
    color: black;
    text-shadow: 2px 2px 20px #fff;
    transition: all .5s;
}


header img{
    width: 150px;
}

section{
    height: 100vh;
}

.welcome-text{
    width: 90vw;
    margin: 250px auto;
}

.welcome-text h1{
    font-size: 80px;
    text-align: center;
}

.welcome-text p{
    font-size: 24px;
    max-width: 700px;
    text-align: center;
    margin: 80px auto;
}


/* ? Hakkında Kısmı */

#about {
    background-color: black;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.about-text{
    max-width: 600px;
}
.about-text h1{
    font-size: 75px;
    line-height: 80px;
    font-weight: 600;
}
.about-text p{
    margin-top: 50px; 
    font-family: 'poppins';
}
.about-text p span{
    border-bottom: 1px solid red;
}

#about img{
    max-width: 600px;
    max-height: 600px;
}



/* BATTLE ALANI */

#battle{
    background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, black 70%),
     url(/images/sec-2.jpg);
     background-size: cover;
     background-position: center;
    background-position: center;
    background-size: cover;

}

.heading {
padding-top: 100px;}
.heading h5{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.heading h1{
    font-size: 70px;
    text-align: center;
    font-weight: 500;

}
.boxes {
    width: 620px;
    height: 500px;
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;

}
.box{
    width: 300px;
    height: 130px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-family: 'open-sans';
}
.box:last-child{
    width: 600px;
}

.box h1{
    color: red;
}

.box p{
    font-size: 20px;
}

/*  FİKİR ALANI */

#opinions{
    width: 100%;
    background-image: url(/images/sec-3.png);
    display: flex;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120vw;
    padding: 100px;
}

.opinions-text{
    max-width: 470px;
    font-family: 'poppins';
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.opinions-text h1{
    font-size: 80px;
}
.opinions-text p{
    font-size: 19px;
}
.opinions-text button{
    padding: 10px;
    background-color: red;
    font-weight: 600;
    transition:all 0.4s ease-in;
    border-radius: 10px;
    margin-top: 40px;
    width: 200px;

}
.opinions-text button:hover{
    background-color: black;
    color: red;
    transition: all 0.5s;
    cursor: pointer;
}
.cards{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
    justify-content: center;
}
.card{
    width: 370px;
    background-color: rgb(52, 49, 49);
    font-family: 'poppins';
    padding: 10px;
    border-radius: 10px;
}
.card:nth-child(2){
    align-self: flex-start;
}

.user{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}
.user-info h1{
    color: red;
}
.gray{
    color: gray;
}



@media (max-width:1100px){
    #about{
        flex-direction: column;
        gap: 30px;
    }
    .about-text h1{
        font-size: 30px;
    }
    .about-text p{
        margin-top: 10px;
    }
    #about img{
        width: 320px;
    }
    #opinions{
        flex-direction: column;
    }
    .opinions-text{
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .cards{
        gap: 10px;
        margin: 0 auto;
    }

}